
<div ng-show="user">
    <article class="container">
        <blockquote>
            <strong>Welcome</strong> {{user.displayName}} <em> </em> in my website<strong> Happy To See You Again</strong>
        </blockquote>
        <b>Nezar Sheikhi</b>
    </article>
</div>
<div ng-hide="user">
    <div class="stage">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div>
</div>